<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

   <head>
      <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
      <meta http-equiv = "Content-Language" content = "en-us" />
      <title>Library Info System</title>
      <%= stylesheet_link_tag "materialize" %>
   </head>
   <nav>
         <div class="nav-wrapper" style="background-color: #d6eaf8;  font-family: 'Josefin Sans', sans-serif; color: black">
         <a href="#!" class="brand-logo" style="color:black">Library Info System</a>
      </div>
   </nav>
   <body id = "library">
      <h3 style = "text-align: center;">Library powered by Ruby on Rails</h3>
      <div id = "container" class="z-depth-2" style = "margin-bottom: 20px; margin-right: 10px; margin-left: 10px; padding-left: 10px; padding-right: 10px;">

         <div id = "content">
            <%= yield -%>
         </div>

         <div id = "sidebar"></div>
         
      </div>
      </div>
   </body>
   
</html>